body {
background-image:url("pattern.png");
color: white;
}
.first{
  width:33%;
  border: 2px solid white;
}

h1{
  border: 2px dashed yellow;
  border-radius: 30px 100px 30px 100px;
  display:block;
}
